<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="cordova-plugin-advanced-downloader" version="1.0.0">
  <name>Advanced iOS Downloader plugin</name>
  <description>
    Cordova / Phonegap plugin for iOS smart downloading
	</description>
  <engines>
    <engine name="cordova" version=">=4.0.0"/>
  </engines>
  <js-module src="www/advanced-downloader.js" name="downloader">
    <clobbers target="cordova.plugin.downloader"/>
  </js-module>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="CordovaDownloaderPlugin">
        <param name="ios-package" value="CordovaDownloaderPlugin"/>
      </feature>
    </config-file>
    <header-file src="src/ios/CordovaDownloaderPlugin.h"/>
    <source-file src="src/ios/CordovaDownloaderPlugin.m"/>
  </platform>
</plugin>