<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-advanced-downloader" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>cordova-plugin-advanced-downloader</name>
  <js-module name="downloader" src="www/advanced-downloader.js">
    <clobbers target="cordova.plugins.downloader" />
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="CordovaDownloaderPlugin">
        <param name="ios-package" value="CordovaDownloaderPlugin" />
      </feature>
    </config-file>
    <header-file src="src/ios/CordovaDownloaderPlugin.h"/>
    <source-file src="src/ios/CordovaDownloaderPlugin.m"/>
  </platform>
</plugin>